@use "sass:color";
@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: $backgroundColor;
  position: fixed;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.headerLogo {
  max-height: 80px;
  width: auto;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.navigation .navUl {
  display: flex;

  .navigationItem {
    padding: 0 20px;

    &:last-child {
      padding-right: 0;

      animation: wobble-ver-left 2s infinite;
      animation-iteration-count: 3;
    }

    .navigationLink {
      text-align: center;
      text-transform: uppercase;
      border-bottom: 4px solid transparent;
      text-decoration: none;
      padding: 25px 10px;
      font-family: $mainFontFamily;
      color: $mainColor;
      font-size: $navbarFontSize;
      transition: all 0.3s ease;
      white-space: nowrap;
      cursor: pointer;

      &:hover,
      &:active {
        border-bottom: 4px solid $mainColor;
        color: color.scale($mainColor, $lightness: -20%);
      }
    }
  }
}

.burger {
  display: none;
  background: none;
  border: none;
  color: $mainColor;
  font-size: 24px;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}

.navigation {
  @media (max-width: 768px) {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    background: $backgroundColor;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: visibility 0s linear 0.5s, opacity 0.5s ease,
      transform 0.5s ease;

    .navUl {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .navigationItem {
        padding: 10px;
        width: 100%;

        .navigationLink {
          padding: 10px;
          display: block;
          border-bottom: none !important;
        }
      }
    }
  }
}

.navActive {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

@keyframes wobble-ver-left {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-10px) rotate(-6deg);
  }
  30% {
    transform: translateY(5px) rotate(6deg);
  }
  45% {
    transform: translateY(-5px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(3px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-2px) rotate(-1.2deg);
  }
}
