@import "../../styles/variables.scss";

.footer {
  padding: 40px 0;
  background-color: $mainColor;
  color: $alternativeTextColor;
  font-family: $mainFontFamily;

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .footerLinks {
    display: flex;
    align-items: center;

    .footerLink {
      margin-right: 25px;
      color: $alternativeTextColor;
      text-decoration: none;
      font-size: 1.6rem;
      transition: color 0.3s ease;
      cursor: pointer;

      &:hover {
        color: $textColor;
      }

      @media (max-width: 768px) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .footerSocials {
    font-size: 2.5rem;
    a {
      margin: 0 10px;
      color: inherit;
      font-size: 2.5rem;
      &:hover {
        color: $textColor;
      }
    }
  }

  .footerCopy {
    font-size: 2.5rem;
    margin-top: 20px;

    p {
      font-size: 1.6rem;
    }

    a {
      color: inherit; /* Inherit the color from the parent element */
      text-decoration: none; /* Remove underline */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }

    a:hover {
      text-decoration: underline; /* Optional: Add underline on hover for better UX */
    }

    @media (max-width: 768px) {
      order: 99;
    }
  }
}
